.container
	h2 {{vm.main.name}}
	ul(ng-repeat='(key, value) in vm.main.properties')
		li(ng-if="!value.hasOwnProperty('properties') && value.value === true") {{key.split('_').join(' ')}}
		li(ng-if="!value.hasOwnProperty('properties') && value.value !== true") {{key.split('_').join(' ')}}: {{value.value}} {{value.unit}}
		li(ng-if="value.hasOwnProperty('properties')") 
			strong {{key.split('_').join(' ')}}
			ul(ng-repeat='(k, v) in value.properties')
				li(ng-if="!v.hasOwnProperty('properties') && v.value === true") {{k.split('_').join(' ')}}
				li(ng-if="!v.hasOwnProperty('properties') && v.value !== true") {{k.split('_').join(' ')}}: {{v.value}} {{v.unit}}
				li(ng-if="v.hasOwnProperty('properties')")
					i {{k.split('_').join(' ')}}
					ul(ng-repeat='(ke, val) in v.properties')
						li(ng-if="!val.hasOwnProperty('properties') && val.value === true") {{ke.split('_').join(' ')}}
						li(ng-if="!val.hasOwnProperty('properties') && val.value !== true") {{ke.split('_').join(' ')}}: {{val.value}} {{val.unit}}