doctype html
html(lang='en', ng-app='versus')
	head
		title Versus Test Application

		meta(charset='utf-8')
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		//- vendors:css
		link(rel="stylesheet", href="../vendors/bootstrap/dist/css/bootstrap.min.css")
		//- endinject
		//- inject:css
		link(rel="stylesheet", href="/src/css/style.css")
		//- endinject

	body
		
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') Home
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/nexus-5') Nexus 5
						li
							a(href='/android-4-4-kitkat') Android 4.4 Kitkat
						li
							a(href='/qualcomm-snapdragon-800') Qualcomm Snapdragon 800
						li
							a(href='/qualcomm-adreno-330') Qualcomm Adreno 330
						li
							a(href='/qualcomm-krait-400') Qualcomm Krait 400
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/test') 404 Link
		
		.container.error(ng-show='isError')
			h1 404!
			p The link you are looking for does not exist!
		ui-view(ng-show='!isError')
			
		//- vendors:js
		script(src="../vendors/lodash/lodash.min.js")
		script(src="../vendors/angular/angular.js")
		script(src="../vendors/angular-aria/angular-aria.js")
		script(src="../vendors/angular-sanitize/angular-sanitize.js")
		script(src="../vendors/angular-ui-router/release/angular-ui-router.js")
		//- endinject
		//- inject:js
		script(src="/src/js/app.js")
		script(src="/src/js/jst.js")
		script(src="/src/js/controllers/IndexCtrl.js")
		script(src="/src/js/services/dataServices.js")
		//- endinject